<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ListaVIP</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container">


		<form th:action="@{/salvar}" method="post" th:object="${cliente}">
			<div class="form-group">
				<label for="nome">Nome completo</label> <input type="text"
					class="form-control" id="nome" th:field="*{nome}" placeholder="Nome" />
			</div>
			<div class="form-group">
				<label for="email">E-mail</label> <input type="email"
					class="form-control" id="email" th:field="*{telefone}" placeholder="Telefone" />
			</div>
			<div class="form-group">
				<label for="telefone">Telefone</label> 
				<input type="text" class="form-control" id="telefone" th:field="*{horario}" placeholder="Telefone" />
			</div>
			<button type="submit" class="btn btn-success">Convidar</button>
		</form>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>