﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
	<title>Pingo coisa linda</title>
	
	<link href="https://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" href="/assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" href="/assets/css/styles.css" />
	
</head>
<body>
	<section class="container">
			<section class="login-form">
				<form method="post" th:action="@{/login}" role="login">
					<img src="assets/images/caveira.png" style="width: 60px" class="img-responsive" alt="" />
					<input type="text" name="username" placeholder="Login" required="required" class="form-control input-lg" />
					<input type="password" name="password" placeholder="Senha" required="required" class="form-control input-lg" />
					<button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Entrar</button>
					<!-- <div>
						<a href="#">Create account</a> or <a href="#">reset password</a>
					</div> -->
				</form>
				<!-- <div class="form-links">
					<a href="#">www.website.com</a>
				</div> -->
			</section>
	</section>
	
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script  th:src="@{/assets/bootstrap/js/bootstrap.min.js}" src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>